/**
 * Admin Styles
 */

/* Icons */
div#icon-bp-links.icon16 {
	background: url('images/logo_16.png') no-repeat;
}
div#icon-bp-links.icon32 {
	background: url('images/logo_32.png') no-repeat;
}

/* Menu */
span.buddypress-links-admin-menu-header {
	font-weight: bold;
	border-top: 1px solid gray;
	padding-top: 3px;
}
span.buddypress-links-admin-menu-item {
	padding-left: 10px;
}

/* Content */

div.buddypress-links-admin-general table.widefat {
	width: 400px;
}

div.buddypress-links-admin-general p, ul, ol {
	max-width: 600px;
}

div.buddypress-links-admin-general ul li {
	margin-left: 30px;
	list-style: disc;
}

div.buddypress-links-admin-content ul {
	list-style: disc outside none;
	margin-left: 24px;
}