/**
 * Admin Styles
 */

/* Content */

div.buddypress-links-admin-content {
	float: left;
	margin-top: 20px;
	max-width: 800px;
}

div.buddypress-links-admin-content > h3 {
	margin-top: 30px;
}
div.buddypress-links-admin-content > h3.dashicons-before {
	line-height: 140%;
}
div.buddypress-links-admin-content > h3.dashicons-before::before {
	margin-right: 5px;
}

div.buddypress-links-admin-content .dashicons-before::before {
	text-shadow: 1px 1px 3px lightgray;
}
div.buddypress-links-admin-content .dashicons-tag::before {
	color: chocolate;
}
div.buddypress-links-admin-content .dashicons-groups::before {
	color: purple;
}
div.buddypress-links-admin-content .dashicons-businessman::before {
	color: #00b9eb;
}
div.buddypress-links-admin-content .dashicons-yes::before {
	color: green;
}
div.buddypress-links-admin-content .dashicons-no::before {
	color: darkred;
}

div.buddypress-links-admin-sidebar .dashicons-before::before {
	padding-top: 5px;
	text-shadow: 1px 1px 3px lightgray;
}
div.buddypress-links-admin-sidebar .dashicons-heart::before {
	color: darkred;
}
div.buddypress-links-admin-sidebar .dashicons-megaphone::before {
	color: orange;
}
div.buddypress-links-admin-sidebar .dashicons-twitter::before {
	color: #33bcff;
}

div.buddypress-links-admin-content > h4,
div.buddypress-links-admin-content > h5,
div.buddypress-links-admin-content > p,
div.buddypress-links-admin-content > ol,
div.buddypress-links-admin-content > ul {
	margin-left: 30px;
}

div.buddypress-links-admin-content ul li {
	margin-left: 30px;
	list-style: disc;
}

/* Sidebar */

div.buddypress-links-admin-sidebar {
	padding: 0 30px;
	width: 400px;
}

div.buddypress-links-admin-sidebar {
	float: left;
	margin-top: 20px;
}

div.buddypress-links-admin-sidebar > div {
	margin-bottom: 20px;
	padding: 5px 20px 10px 20px;
	background-color: #f9f9f9;
	border: solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
	div.buddypress-links-admin-sidebar > div h2,
	div.buddypress-links-admin-sidebar > div h3 {
		text-align: center;
	}
	div.buddypress-links-admin-sidebar > div a {
		font-weight: bold;
	}
	div.buddypress-links-admin-sidebar > div iframe.twitter-follow-button,
	div.buddypress-links-admin-sidebar > div form#mc-embedded-subscribe-form {
		margin-top: 15px;
	}

div.buddypress-links-admin-sidebar ul {
	list-style: circle;
	margin-left: 25px;
}
