/**
 * Admin Styles
 */

/* Menu */
span.buddypress-links-admin-menu-header {
	font-weight: bold;
	border-top: 1px solid gray;
	padding-top: 3px;
}
span.buddypress-links-admin-menu-item {
	padding-left: 10px;
}

/* Content */

div.buddypress-links-admin-sidebar {
	padding: 0 30px;
	width: 400px;
}

div.buddypress-links-admin-sidebar {
	float: left;
	margin-top: 20px;
}

div.buddypress-links-admin-sidebar > div {
	margin-bottom: 20px;
	padding: 5px 20px 10px 20px;
	background-color: #f9f9f9;
	border: solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
	div.buddypress-links-admin-sidebar > div h2,
	div.buddypress-links-admin-sidebar > div h3 {
		text-align: center;
	}
	div.buddypress-links-admin-sidebar > div a {
		font-weight: bold;
	}
	div.buddypress-links-admin-sidebar > div iframe.twitter-follow-button,
	div.buddypress-links-admin-sidebar > div form#mc-embedded-subscribe-form {
		margin-top: 15px;
	}

div.buddypress-links-admin-sidebar ul {
	list-style: circle;
	margin-left: 25px;
}

div.buddypress-links-admin-content {
	float: left;
	margin-top: 20px;
	max-width: 800px;
}

div.buddypress-links-admin-general > h3 {
	margin-top: 25px;
}

div.buddypress-links-admin-general table.widefat {
	width: 400px;
}

div.buddypress-links-admin-general ul li {
	margin-left: 30px;
	list-style: disc;
}

div.buddypress-links-admin-settings table.form-table th {
	width: 150px;
	font-weight: bold;
}

div.buddypress-links-admin-cats table.widefat{
	width: 100%;
}

div.buddypress-links-admin-manage ul {
	list-style: disc outside none;
}